#main-content{
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.main-img{
    width: 100%;
    height: 500px;
    z-index: -1;
}
.main-h{
    position: absolute;
    top: 400px;
    padding: 0 100px 40px 0;
    color: white;
    z-index: 10000;
}
.about-course{
    width: 100%;
    position: relative;
    border: 4px solid #0077ff;
    margin-top: 80px;
    padding: 30px 40px;
    border-radius: 20px;
}
.course-h{
    position: absolute;
    color: #0077ff;
    bottom: 100%;
    right: 50%;
    transform: translate(50% , 50%);
    padding: 0 30px;
    font-size: 16px;
    background: white;
    font-weight: bold;
}
.introduction{
    width: 100%;
    text-align: justify;
    line-height: 2;
}
.topic{
    font-weight: bolder;
    font-size: 19px;
    color: #7209b7;
}
.intro-text{
    color: #00296b;
}
.session-topic{
    margin-top: 30px;
    padding-top: 20px;
    position: relative;
    border-top: 3px solid #3d50ff;
}
.session-h{
    position: absolute;
    right: 50%;
    bottom: 100%;
    transform: translate(50% , 60%);
    font-weight: bold;
    padding: 0 30px;
    background: white;
    font-size: 16px;
    color: #3d50ff;
}
.drop-d-team{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.drop-d-team details{
    border: 2px solid #3d50ff;
    border-radius: 10px;
    padding: 15px 30px;
}
.drop-d-team summary p{
    color: #3a0ca3;
    
}
.learnings{
    width: 100%;
    list-style: none;
    padding: 20px 0;
    color: #0a9396;
    margin: auto;
    gap: 20px;
}

.learnings li{
    gap: 20px;
}
.learnings svg{
    fill: #fb5607;
    width: 25px;
}
@media screen and (max-width: 1100px){
    .about-course{
        padding: 30px 10px;
    }
    .about-course :is(p , h1 ,h2 , h3 , li){
        font-size: 14px;
    }
    .drop-d-team details{
        padding: 15px 10px !important;
    }
    .learnings{
        gap: 15px;
    }
    .learnings li{
        gap: 10px;
    }
    .learnings svg{
        fill: #fb5607;
        width: 20px;
        flex-shrink: 0;
    }
    .main-img{
        width: 100%;
        height: 300px;
        z-index: -1;
        object-fit: cover;
    }
    .main-h{
        position: absolute;
        top: 230px;
        padding: 0 10px 40px 0;
        color: white;
        z-index: 10000;
        font-size: 16px;
    }
}
@media screen and (max-width: 400px){
    .drop-d-team details{
        padding: 15px 5px !important;
    }
    .drop-d-team summary p{
        font-size: 12px;
    }
}