#navigation{
    border-bottom: 1px solid rgba(0, 0, 0, 0.376);
}
#navigation a{
    color: #4361ee;
    font-weight: bolder;
    padding: 5px 10px !important;
    position: relative;
    box-sizing: border-box;
}
#navigation a:not(.navbar-brand):hover{
    border-bottom: 2px solid #d90429;
}
.sign-up-btn{
    padding: 10px 30px !important;
    transition: all ease-in-out 500ms !important;
    align-self: baseline !important;
}
.sign-up-btn:hover{
    background: white !important;
    color: #4361ee !important;
    font-weight: bolder;
}
@media screen and (min-width: 992px){
    .slider-card p{
        font-size: 30px !important;
    }
    .slider{
        width: 100% !important;
        max-height: 600px !important;
    }
    .slider img{
        width: 100% !important;
        height: 600px !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1400px){
    #road-con div > h1{
        right: 40px !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .slider-card p{
        font-size: 30px !important;
    }
    .slider{
        width: 100% !important;
        max-height: 600px !important;
    }
    .slider img{
        width: 100% !important;
        height: 600px !important;
    }
    .footer-grid{
        box-sizing: border-box;
        padding: 0;
    }
    .footer-info{
        padding: 20px !important;
    }
    .footer-logos{
        padding-right: 0 !important;
        padding: 20px !important;
    }
    #road-con div > h1{
        right: 10px !important;
    }
}
@media screen and (min-width: 768px) and (max-width:991px){
    .slider{
        width: 100% !important;
        max-height: 500px !important;
    }
    .slider img{
        width: 100% !important;
        height: 500px !important;
    }
    .about-text{
        border:none !important;
        margin-top: 50px;
        padding: 0 30px;
        border-radius: 20px;
    }
    .time-tcon{
        column-gap: 15px;
    }
    .info-card{
        padding: 30px 10px !important;
    }
    .time-t-info{
        padding: 30px 10px !important;
    }
    .time-t-info :is(p , span){
        font-size: 15px !important;
    }
    .info-card > div p{
        font-size: 15px !important;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 40px;
    }
    .footer-info{
        border-left: none;
        border-bottom: 4px solid #00bbf9;
        padding-bottom: 40px;
        padding: 0 20px 40px 20px;
    }
    .footer-logos{
        padding: 20px;
    }
    #road-con div > h1{
        right: 10px !important;
    }
}
@media screen and (min-width:577px ) and (max-width:767px) {
    .slider{
        width: 100% !important;
        max-height: 299px !important;
    }
    .slider img{
        width: 100% !important;
        height: 299px !important;
    }
    .about-text{
        border:none !important;
        margin-top: 50px !important;
        padding: 0 20px !important;
        border-radius: 20px;
    }
    .time-tcon{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        box-sizing: border-box;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 40px;
    }
    .footer-info{
        border-left: none;
        border-bottom: 4px solid #00bbf9;
        padding-bottom: 40px;
        padding: 0 20px 40px 20px;
    }
    .footer-logos{
        padding: 20px;
    }
    #time-table{
        margin-bottom: 50px;
        margin-top: 100px !important;
    }
    .time-t{
        margin-top: 50px !important;
    }
    #road-con div > h1{
        right: 10px !important;
    }
}
@media screen and (max-width:576px){
    .slider{
        width: 100% !important;
        max-height: 299px !important;
    }
    .slider img{
        width: 100% !important;
        height: 299px !important;
    }
    .about-text{
        border:none !important;
        margin-top: 20px !important;
    }
    .time-tcon{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
        box-sizing: border-box;
    }
    .info-card{
        padding: 30px 10px !important;
    }
    .info-card div{
        gap: 10px;
    }
    .time-t-info{
        padding: 30px 10px !important;
    }
    .time-t-info :is(p , span){
        font-size: 16px !important;
    }
    .info-card > div p{
        font-size: 16px !important;
    }
    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 0;
    }
    .footer-info{
        border-left: none;
        border-bottom: 4px solid #00bbf9;
        padding-bottom: 0 !important;
        padding: 0;
    }
    .socail{
        padding: 15px 10px;
        
    }
    .footer-logos{
        padding: 25px 10px;
    }
    #time-table{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .time-t{
        margin-top: 50px !important;
    }
    .about-text:first-of-type{
        margin-top: 50px !important;
    }
    #road-con div > h1{
        right: 10px !important;
    }
}
@media screen and (max-width:1200px){
    .about-text{
        border:none !important;
        margin-top: 50px;
        padding: 0 30px;
        border-radius: 20px;
    }
}