#main-content {
  background-image: url("../assets/digital-marketing.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 37%;
  height: 500px;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
body{
  overflow-x: hidden;
}
#main-content>h1 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.about-course {
  width: 100%;
  padding: 30px 40px;
  position: relative;
  border: 4px solid #0077ff;
  border-radius: 20px;
  margin-bottom: 25px;
}

.course-h {
  position: absolute;
  color: #0077ff;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 0 30px;
  font-size: 16px;
  background: white;
  font-weight: bold;
}

.introduction {
  width: 100%;
  text-align: justify;
  line-height: 2;
}

.topic {
  font-weight: bolder;
  font-size: 19px;
  color: #7209b7;
}

.intro-text {
  color: #00296b;
}

.session-topic {
  margin-top: 30px;
  padding-top: 20px;
  position: relative;
  border-top: 3px solid #3d50ff;
}

.session-h {
  position: absolute;
  right: 50%;
  bottom: 100%;
  transform: translate(50%, 60%);
  font-weight: bold;
  padding: 0 30px;
  background: white;
  font-size: 16px;
  color: #3d50ff;
  text-wrap: nowrap;
}

.session-team {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.session {
  border: 3px solid #3d50ff;
  width: 100%;
  border-radius: 20px;
  gap: 20px;

}

.topic-s {
  font-weight: bolder;
  font-size: 16px;
  color: white;
}

.topic-c {
  min-width: 80px !important;
  width: 120px;
  padding: 15px 0;
  background: #3d50ff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.term {
  background: #03045e;
  width: 100%;
  padding: 15px 30px;
  border-radius: 20px;
  color: #ffd500;
  margin-top: 25px;
  font-weight: bolder;
  transition: all 300ms ease-in-out;
}

.term-o {
  margin-bottom: 25px;
}

.term-t {
  margin-top: 45px !important;
}

.term:hover {
  background: white;
  border: 3px solid #03045e;
  color: #03045e;
}

.session-h-t {
  position: absolute;
}

.session-team-t {
  width: 100%;
  position: relative;
  margin-top: 40px;
  border-top: 3px solid #3d50ff;
}

@media screen and (max-width: 800px) {
  #main-content h1 {
      font-size: 19px;
      box-sizing: border-box;
      min-width: 100%;
  }

  #main-content {
      padding: 10px;
      padding-left: 0;
      height: 250px;
  }
  #about-course{
      padding: 30px 20px;
  }
  .about-course{
      padding: 30px 15px;
  }
  .footer-logo {
      padding: 0 5px !important;
      box-sizing: border-box;
  }
  footer{
      box-sizing: border-box;
  }
  .socail{
      width: 98% !important;
  }
  .footer-logos{
      padding: 25px 5px;
  }
  .footer-grid{
      padding: 30px 10px;
      justify-content: center;
      place-items: center;
  }
  .session{
      font-size: 14px;
  }
  .topic-c{
      width: 100px !important;
  }
}
@media screen and (max-width: 600px){
  #about-course{
      padding: 30px 0;
  }
  .session-h{
      font-size: 12px;
      padding: 0 7px;
  }
  .topic-s{
      font-size: 12px;
  }
  .session{
      gap: 10px;
  }
  .topic-c{
      width: 80px !important;
  }
  #main-content h1 {
      font-size: 16px;
      box-sizing: border-box;
      min-width: 100%;
  }

  #main-content {
      padding: 10px 30px;
      padding-left: 0;
      height: 250px;
  }
}