#navigation{
    border-bottom: 2px solid #3a86ff !important;
    box-sizing: border-box;
}
#navigation a{
    color: #4361ee;
    font-weight: bolder;
    padding: 5px 10px !important;
    position: relative;
    box-sizing: border-box;
}
#navigation a:not(.navbar-brand):hover{
    border-bottom: 2px solid #d90429;
}
.sign-up-btn{
    padding: 10px 30px !important;
    transition: all ease-in-out 500ms !important;
    align-self: baseline !important;
}
.sign-up-btn:hover{
    background: white !important;
    color: #4361ee !important;
    font-weight: bolder;
}
.slider{
    width: 100%;
    max-height: 300px !important;
}
.slider img{
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    object-position: center;
}
.slider-card{
    color: white;
    top: 0;
    z-index: 100;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.slider-card p{
    font-weight: bolder;
    text-align: center;
    opacity: 1;
}
