#navigation{
    border-bottom: 2px solid #3a86ff !important;
    box-sizing: border-box;
}
#navigation a{
    color: #4361ee;
    font-weight: bolder;
    padding: 5px 10px !important;
    position: relative;
    box-sizing: border-box;
}
#navigation a:not(.navbar-brand):hover{
    border-bottom: 2px solid #d90429;
}
.main{
    padding: 20px 0 100px 0 !important;
}
.sign-up-btn{
    padding: 10px 30px !important;
    transition: all ease-in-out 500ms !important;
    align-self: baseline !important;
}
.sign-up-btn:hover{
    background: white !important;
    color: #4361ee !important;
    font-weight: bolder;
}
.slider{
    width: 100%;
    max-height: 300px !important;
    border-radius: 10px !important;
}
.slide{
    border-radius: 10px;
}
.slider img{
    width: 100% !important;
    height: 300px !important;
    object-fit: cover !important;
    object-position: center;
    border-radius: 10px;
}
.slider-card{
    color: white;
    top: 0;
    z-index: 100;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.slider-card p{
    font-weight: bolder;
    text-align: center;
    opacity: 1;
}
#about{
    width: 100%;
    border-top: 3px solid #7b2cbf;
}
.about-h{
    bottom: 100%;
    margin-right: 10px;
    transform: translateY(50%);
    background: white;
    padding: 0 15px;
    color: #7b2cbf;
}
.about-text{
    border: 3px solid #7b2cbf;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}
.about-text:first-of-type{
    margin-top: 100px !important;
}
.about-text svg{
    fill: #3a86ff;
    width: 80px;
}
.about-text p{
    font-size: 20px !important;
    text-align: justify;
    line-height: 2;
    margin: 0 !important;
}
#time-table{
    margin-top: 150px;
    border-top: solid 3px #3b78ea;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.info-card-h{
    position: absolute;
    bottom: 100%;
    transform: translateY(50%);
    padding: 0 15px;
    background: white;
    color: #3b78ea;
}
.time-tcon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    box-sizing: border-box;
}
.info-card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 4px solid #7400b8;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 30px;
    gap: 20px;
}
.info-card div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.info-card > div p{
    margin: 0;
    font-weight: bold;
    color: #003f88;
    font-size: 18px;
}
.info-card > div svg{
    fill: #d00000;
}
.info-card h3{
    font-size: 20px !important;
    font-weight: bolder;
    color: #8338ec;
    position: absolute;
    background: white;
    padding: 0 15px;
    bottom: 100%;
    transform: translateY(50%);
}
.time-t-info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
    border: 4px solid #7400b8;
    border-radius: 15px;
    position: relative;
    padding: 30px;
}
.time-t-info h3{
    color: #8338ec;
    position: absolute;
    bottom: 100%;
    transform: translateY(20%);
    background: white;
    padding: 0 15px;
    font-size: 20px;
    margin: 0;
}
.time-t-info :is(p , span){
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #003f88;
}

.time-t-info svg{
    fill: #d00000;
}