.course-detail-section {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding: 10px;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-price {
    padding: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.course-price-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.course-price-detail img {
    width: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}

.course-price-detail p {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.pre-registration-btn {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgb(53, 200, 243);
    border: none;
    color: white;
    margin-bottom: 20px;
    transition: all 0.4s;
}

.pre-registration-btn:hover {
    background-color: rgb(45, 145, 195);
}

.course-price span {
    color: rgb(142, 213, 87);
}

section.main {
    padding-bottom: 50px !important;
}

.introduction {
    position: relative;
    border-top: 3px solid blue;
    padding: 50px 10px 40px 10px !important;
}

.package-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.intro-h {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 50%);
    padding: 0 15px;
    background-color: white;
    color: blueviolet;
    text-wrap: nowrap;
}

.intro {
    text-align: justify;
    line-height: 2;
    font-weight: bold;
}

.teachers-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 15px;
}

.teachers-list-h {
    padding: 15px 30px;

    >p {
        font-weight: bold;
    }
}

.teacher-names {
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.teacher-name {
    background: #3a86ff;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #3a86ff;
    row-gap: 15px !important;
    margin: 15px 0;
}

.teacher-name:hover {
    background-color: white;
    color: #3a86ff;
    padding: 15px 40px;
    border: 2px solid #3a86ff;
    box-sizing: border-box;
    transition: all ease-in-out 300ms;
}

.teacher-names-grid {
    width: 100%;
    border-top: 1px solid black;
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px;
}

.timing {
    margin-top: 15px;
}

.timer {
    background: #3a86ff;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #3a86ff;
    width: 100%;
}

.timer>svg {
    fill: white;
}

.timer>span,
.timer>p {
    font-size: 14px !important;
}

.sign-up-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.check-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    span {
        color: #3a86ff;
    }

    input {
        width: 20px;
        height: 20px;
    }

    >button {
        background-color: #3a86ff;
        padding: 8px 60px;
        border: 2px solid #3a86ff;
    }
    a{
        color: white;
        text-decoration: none;
    }
    >button:hover {
        color: #3a86ff !important;
        background: white;
        border: 2px solid #3a86ff;
        transition: all ease-in-out 300ms;
    }
}
.check-input:has(>button:hover) a{
    color: #3a86ff;
}
.sessions {
    width: fit-content;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: 50px;
    border: 2px solid #3a86ff;
    border-radius: 10px;
    
}

.topic-session {
    padding: 0 10px;
    font-size: 14px;
}

.num-session {
    background-color: #3a86ff;
    width: fit-content;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
}

@media screen and (max-width: 1400px) {
    .teacher-names-grid {
        width: 100%;
        border-top: 1px solid black;
        padding: 30px 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .check-input>button {
        background-color: #3a86ff;
        padding: 8px 20px;
        border: 2px solid #3a86ff;
    }
}


@media screen and (max-width: 1100px) {
    .package-grid {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }

    .course-detail-section {
        margin: auto;
        margin-bottom: 45px;
        padding: 0;
    }

    .introduction {
        padding: 0 00px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .teacher-names-grid {
        width: 100%;
        border-top: 1px solid black;
        padding: 30px 30px;
        display: grid;
        justify-content: center !important;
        align-content: center !important;
        place-items: center !important;
        align-items: center !important;
        grid-template-columns: repeat(2, 300px) !important;
    }

    .introduction {
        padding: 0 10px;
        padding-top: 30px;
    }

    .package-grid {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 700px){

}
@media screen and (max-width: 700px) {
    .teacher-names-grid {
        width: 100%;
        border-top: 1px solid black;
        padding: 30px 10px;
        display: grid;
        justify-content: center !important;
        align-content: center !important;
        place-items: center !important;
        align-items: center !important;
        grid-template-columns: repeat(1, minmax(auto , 300px)) !important;
    }
}